@media (min-width: 375px) {
  .cta_button {
    width: 220px;
    height: 45px;
    background-color: #f4bc00;
    border-color: #979797;
    border-width: 0.83px;
    border-radius: 3.12px;
    color: white;
    font-family: 'Ropa Sans';
  }
}

@media (max-width: 1440px) {
  .cta_button ::after {
    width: 320px;
    height: 72px;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(204,51,50,1) 50%, rgba(252,176,69,1) 100%);
    border-color: #979797;
    border-radius: 5px;
    color: white;
    font-family: 'Ropa Sans';
  }
}
